extends home

block content
	div(class='flex grid w-full content-center mb-16 h-full gap-4')#scrollContainer
		div(class="w-full absolute top-0 grid place-items-center")#scroll1
			div(class='bg-red-500 w-72 top-0 z-10 pt-16 shadow-xl grid rounded-b-lg')
				div(class="rounded-lg shadow-xl h-fit w-64 justify-self-center m-3 bg-amber-400")
					div(class='m-2 h-8 bg-transparent text-center rounded-lg px-2 grid content-around font-semibold') What's Your Turn?
					form(method='post' action='/turn')#cardSubmitForm
						div(class="bg-transparent grid grid-cols-4 gap-1 m-3 place-items-center")
							div(class="h-fit w-fit")
								input(name="year" id="year" type="text" class='text-sm indent-1 h-6 w-10 rounded-lg focus:outline-none focus:rounded-sm focus:scale-110 transition ease-in-out duration-600' required placeholder="20YY" maxlength='4' minlength='4')
							div(class="h-fit w-fit")
								input(name="month" id="month" type="text" class='text-sm indent-1 h-6 w-8 rounded-lg focus:outline-none focus:rounded-sm focus:scale-110 transition ease-in-out duration-600' required placeholder="MM" maxlength='2' minlength='2')
							div(class="h-fit w-fit")
								input(name="day" id="day" type="text" class='text-sm indent-1 h-6 w-8 rounded-lg focus:outline-none focus:rounded-sm focus:scale-110 transition ease-in-out duration-600' required placeholder="DD" maxlength='2' minlength='2')
							button(class='rounded-lg text-center bg-sky-900 h-6 w-6 shadow-lg text-white transition ease-in-out hover:scale-105 duration-600')#cardSubmitBtn
								svg(xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2")
									path(stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6")
		if !turns 
			div(class="text-black font-bold text-lg h-4/5 w-full bg-transparent grid place-items-center pt-4") NO TURNS REMAINING
		else
			div(class="pb-30 w-full h-fit top-60 absolute card-container")#scroll2
				div(class="h-full swiper-wrapper overscroll-none ml-20")
					each turn in turns
						div(class="w-full h-96 px-3 swiper-slide grid place-items-center")
							div(class="bg-amber-400 w-64 rounded-lg shadow-md bg-white hover:shadow-xl transition-shadow duration-300 ease-in-out")#card
								div#dateWrapper(class="w-fit h-fit")
									div#cardDate= turn.date.substring(5,7) + '/' + turn.date.substring(8)
									div#of of 
									div#cardYear= turn.date.substring(0,4)
								div#nickWrapper
									div#cardNick= 'Owned by ' + turn.user.nick
					

		
			
	script.
			const container = document.querySelector("#container")
			const wrapperClass = ['rounded-lg', 'shadow-xl', 'h-fit', 'w-64', 'justify-self-center', 'm-3', 'bg-gray-500']
			const commenterClass = ['m-2', 'h-8', 'bg-stone-200', 'rounded-lg', 'shadow-lg', 'px-2', 'grid', 'content-around', 'font-semibold']
			const contentClass = ['overflow-x-auto', 'bg-transparent', 'rounded-lg', 'grid', 'content-around', 'm-2', 'px-2', 'h-fit']
			
			//const cardSubmit = document.querySelector("#cardSubmitForm")
			//cardSubmit.addEventListener('submit', (e) => {
			//	var year = document.querySelector('#year').value
			//	var month = document.querySelector('#month').value
			//	var day = document.querySelector('#day').value
			//	var xhr = new XMLHttpRequest()
			//	xhr.open('POST', '/turn')
			//	xhr.setRequestHeader('Content-Type', 'application/json')
			//	xhr.send(JSON.stringify({ year: year, month: month, day: day}))
			//})